@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: local('MullerLight'),
    url("../fonts/MullerLight.woff") format("woff") ,
    url("../fonts/MullerLight.woff2") format("woff2");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local('MullerRegular') ,
    url("../fonts/MullerRegular.woff") format("woff") ,
    url("../fonts/MullerRegular.woff2") format("woff2");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local('MullerMedium'),
    url("../fonts/MullerMedium.woff") format("woff") ,
    url("../fonts/MullerMedium.woff2") format("woff2");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  src: local('MullerBold'),
    url("../fonts/MullerBold.woff") format("woff") ,
    url("../fonts/MullerBold.woff2") format("woff2");
}

:root {
  --btn_bgcolor-focus-hover: #cc9933;
  --btn_bgcolor-active: #a47312;
  --btn_color-focus-hover-active: #fff ;
  --btn_outline-focus: none;
  --link_color-hover-focus: #cc9933;
  --link-user-mail_color-hover: #e9c479;
  --link_outline-focus: 1px solid #CC9933;
  --link_color-acive: #a47312;
  --section_bgcolor: #fff;
}

* {
  box-sizing: border-box;
  color: #000;
}

body {
  background-color: #F1F1F1;
}

h2,p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

html {
  font-family: 'Muller' , sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto ;
  margin-right: auto ;
  padding-left: 15px;
  padding-right: 15px;
}

.section-heading {
  margin-left: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.section-btn {
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  cursor: pointer;
}

.section-about-text,  .section-service-text , .section-advantage-text {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: #000;
}


   /* Header-top */

.header-container {
  padding-top: 30px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.user-cabinet {
  display: block;
  margin-left: auto;
}

.logo {
  margin-right: 40px;
}

.logo:focus {
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.header-top-link {
  align-items: center;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.tel {
  color: #666;
  transition: color 0.3s linear;
}

.tel:hover {
  color: var(--link_color-hover-focus);
}

.tel:focus {
  color: var(--link_color-hover-focus);
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.tel:active {
  color: var(--link_color-acive);
  outline: none;
}


.user-cabinet {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #CC9933;
  transition: color 0.3s linear;

}

.user-cabinet:hover {
  color: var(--link-user-mail_color-hover);
}

.user-cabinet:focus {
  color: var(--link_color-hover-focus);
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.user-cabinet:active {
  color: var(--link_color-acive);
  outline: none;
}

/* ----------icon---------- */
.user-cabinet path {
  transition: fill 0.3s linear;
}


.user-cabinet:hover path {
  fill: var(--link-user-mail_color-hover)
}

.user-cabinet:focus path {
  fill: var(--link_color-hover-focus);
}

.user-cabinet:active path {
  fill: var(--link_color-acive);
}

/* Header-bottom */

.nav-header {
  display: flex;
  padding: 14px 45px;
  background-color: var(--section_bgcolor);
  border-radius: 15px;
}

.nav-header-list {
  min-width: 642px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

.nav-header-item:not(:last-child) {
  margin-right: 45px;
}

.nav-header-item {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.nav-header-list {
  padding-right: 56px;
  border-right: 1px solid #E1E1E1;
}

.nav-header-link {
  color: #666;
  transition: color 0.3s linear;
}

.nav-header-link:hover {
  color: var(--link_color-hover-focus);
}

.nav-header-link:focus {
  color: var(--link_color-hover-focus);
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.nav-header-link:active {
  color: var(--link_color-acive);
  outline: none;
}

.header-bottom-btn {
  margin-left: 16px;
  min-width: 324px;
  max-width: 328px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-header-btn {
  padding: 13px 20px;
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: .3s , .2s;
  transition-timing-function: linear, ease;
}

.nav-header-btn:not(:last-child) {
  margin-right: 40px;
}

.nav-header-btn:hover {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
}

.nav-header-btn:focus {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
  outline: var(--btn_outline-focus);
}

.nav-header-btn:active {
  background-color: var(--btn_bgcolor-active);
  color: var(--btn_color-focus-hover-active);
}



/* Offer */

.offer-container {
  padding-top: 70px;
}

.section-offer-content {
  display: flex;
  flex-wrap: wrap;
}

.section-offer-block {
  max-width: 573px;
}

.offer-card-right {
  display: flex;
  margin-left: 23px;
}

.offer-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-title {
  margin-bottom: 20px;
}

.section-offer-card {
  position: relative;
  display: inline-block;
  padding: 40px 234px 37px 40px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.card-1 {
  position: relative;
  background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/card-1.jpg);
  margin-bottom: 23px;
}

.card-2 {
  background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/card-2.jpg);
}

.card-3 {
  padding: 211px 234px 41px 40px;
  background-image: url(../img/card-3.jpg);
}

.card-3 .section-offer-heading {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.card-3 .section-offer-price {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
}

.section-offer-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: var(--section_bgcolor);
}

.section-offer-price {
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: var(--section_bgcolor);
}

.section-offer-link {
  max-width: 98px;
/*   display: flex;
  align-items: center; */
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #FFCC66;
  transition: transform 1s linear;
}

.section-offer-link:hover {
  margin-right: 6px;
}

.section-offer-link ~ svg {
  transform: translateY(5px);
}

.section-offer-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section-offer-link:focus {
  outline: none;
}

.section-offer-link:focus::before {
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}


.section-offer-link svg {
  margin-left: 3px;
}

.section-offer-card:focus {
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}


.section-offer-card:active .section-offer-link {
  color: var(--section_bgcolor);
  outline: none;
}


/* About us */

.about-container {
  padding-top: 70px;
}

.about-title {
  margin-bottom: 11px;
}

.section-about-text {
  width: 888px;
}



/* Service */

.service-container {
  padding-top: 70px;
}

.section-service-list {
  display: flex;
  flex-wrap: wrap;
}

.section-service-item {
  position: relative;
  padding: 191px 126px 50px 45px;
  max-width: 573px;
  width: 100%;
  background-color: var(--section_bgcolor);
  border-radius: 15px;
}

.card-image1 {
  background-image: url(../img/card-image1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.card-image2 {
  background-image: url(../img/card-image2.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.card-image3 {
  background-image: url(../img/card-image3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.card-image4 {
  background-image: url(../img/card-image4.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}
.service-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
}

.section-service-link {
  display: inline-block;
  color: #CC9933;
}



.section-service-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.section-service-link:focus::before {
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.service-title svg {
  transform: translateY(4px);
}

.service-title:hover svg path {
  stroke: var(--link-user-mail_color-hover);
}

.service-title:active svg path {
  stroke: var(--link_color-acive);
}

.section-service-link:hover {
  color: var(--link-user-mail_color-hover);
}

.section-service-link:focus {
  outline: none;
}

.section-service-link:active {
  color: var(--link_color-acive);
  outline: none;
}


.service-title:hover {
  color: var(--link-user-mail_color-hover);
}

.service-title a:hover {
  margin-right: 6px;
}


/* --------icon------- */

.section-service-link:hover path {
  stroke: var(--link-user-mail_color-hover);
}

.section-service-link:focus path {
  stroke: var(--link_color-hover-focus);
}

.section-service-link:active path {
  stroke: var(--link_color-acive);
}

.section-service-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.card-image1, .card-image2 {
  margin-bottom: 23px;
}

.service-heading {
  margin-bottom: 20px;
}



/* Advantage */

.advantage-container {
  padding-top: 70px;
}

.section-advantage-list {
  flex: 1 1 25%;
  display: flex;
  flex-wrap: wrap;
}

.section-advantage-list:not(:last-child) {
  margin-bottom: 23px;
}

.section-advantage-item {
  margin-bottom: 23px;
  max-width: 275px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.section-advantage-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantage-title {
  margin-bottom: 30px;
}

.section-advantage-text {
  margin: 40px 42px 41px 45px;
  padding-top: 76px;
}

.section-advantage-icon {
  background-position: left top;
  background-repeat: no-repeat;
}

.advantage-icon-bathtub {
  background-image: url(../img/bathtub.svg);
}

.advantage-icon-hanger {
  background-image: url(../img/hanger.svg);
}

.advantage-icon-heating {
  background-image: url(../img/heating.svg);
}

.advantage-icon-hotel-key {
  background-image: url(../img/hotel-key.svg);
}

.advantage-icon-parking {
  background-image: url(../img/parking.svg);
}

.advantage-icon-reception {
  background-image: url(../img/reception.svg);
}

.advantage-icon-security-box {
  background-image: url(../img/security-box.svg);
}

.advantage-icon-swimming-pool {
  background-image: url(../img/swimming-pool.svg);
}





/* Placement */

.placement-container {
  padding-top: 70px;
}

.placement-title {
  margin-bottom: 30px;
}

.section-placement-list {
  display: flex;
  flex-wrap: wrap;
}

.section-placement-item {
  margin-bottom: 23px;
  max-width: 374px;
  width: 100%;
  background-color: var(--section_bgcolor);
  border-radius: 15px;
  font-size: 0;
}

.section-placement-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.placement-hotel-content {
  margin-right: 45px;
}

.placement-hotel-name {
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 45px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.placement-hotel-location {
  margin-top: 16px;
  margin-left: 45px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #999;
}

.section-placement-btn {
  padding: 13px 20px;
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 41px;
  background-color: transparent;
  font-size: 16px;
  transition-property: color, background-color;
  transition-duration: .3s , .2s;
  transition-timing-function: linear, ease;

}

.section-placement-btn:hover {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
}

.section-placement-btn:focus {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
  outline: var(--btn_outline-focus);
}

.section-placement-btn:active {
  background-color: var(--btn_bgcolor-active);
  color: var(--btn_color-focus-hover-active);
}

.section-placement-item:not(:nth-child(3n)){
  margin-right: 23px;
}

.placement-price-rating {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.placement-price {
  margin-left: 45px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #999;
}

.placement-cost-number {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.placement-hotel-rating {
  display: flex;
  margin-right: 46px;
}

.placement-hotel-rating-star:not(:last-child) {
  margin-right: 6px;
}

.section-placement-item-last {
  position: relative;
  background-image: url(../img/item-last-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 374px;
  height: 449px;
}

.section-placement-link {
  position:absolute;
  display: inline-block;
  top: 373px;
  left: 54px;
  padding-right: 14px;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  color: #FFFFFF;
  background: url(../img/placement-link-icon.svg) right center no-repeat;
}

.section-placement-link::before {
  content: "";
  position: absolute;
  top: -374px;
  left: -54px;
  width: 374px;
  height: 449px;
  border-radius: 15px;
}

.section-placement-link:focus::before {
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.section-placement-link:focus {
  outline: none;
}




/* --------------------------------------------------------------------------------- */

/* Tour */

.section-tour {
  padding-top: 47px;
}

.tour-container {
  padding-bottom: 71px;
  background-color:#E9E9E9;
  border-radius: 15px;
}

.tour-title {
  padding-top: 38px;
}

.tour-content {
  padding: 28px;
  margin: 19px 45px 0 45px;
  max-width: 1080px;
  background-color: var(--section_bgcolor);
  border-radius: 15px;
}

.form {
  display: flex;
}


.tour-form-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tour-form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tour-form-item:not(:last-child) {
  margin-right: 20px;
}

.tour-form-item:not(:nth-child(1)) {
  padding-left: 20px;
  border-left: 1px solid #e1e1e1;
}

.tour-form-item:last-child {
  margin-right: 30px;
}

.city-item {
  max-width: 169px;
}

.country-item{
  max-width: 190px;
}

.date-input {
  max-width: 142px;
}

.nights-item {
  max-width: 142px;
}

.toursits-item {
  max-width: 142px;
}

.tour-form-label {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.tour-form-select {
  appearance: none;
  border-style: none;
  background-color: inherit;
  background: url(../img/input-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.tour-form-select:focus {
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.tour-form-input:focus {
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.tour-form-input {
  max-width: 121px;
  border-style: none;
  background-color: inherit;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}
.select-city {
  padding-right: 26px;
}


.date-input {
  max-width: 142px;
  border-style: none;
}

.form-right {
  padding-left: 20px;
  border-left: 1px solid #e1e1e1;
}

.form-btn {
  padding: 13px 30px;
  background-color: inherit;
  transition-property: color, background-color;
  transition-duration: .3s , .2s;
  transition-timing-function: linear, ease;
}

.form-btn:hover {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
}

.form-btn:focus {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
  outline: var(--btn_outline-focus);
}

.form-btn:active {
  background-color: var(--btn_bgcolor-active);
  color: var(--btn_color-focus-hover-active);
}


/* Contacts */

.contacts-container {
  padding-top: 70px;
}

.contacts-content {
  margin-top: 26px;
  padding: 44px 44px 46px 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--section_bgcolor);
  border-radius: 15px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 375px;
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #c4c4c4;
}

.contacts-item:last-child {
  margin: 0;
}

.contacts-item-content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.contacts-right {
  font-size: 0;
}

.contacts-right img {
  border-radius: 10px;
}

.contacts-item-title {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}


.contacts-adress {
  max-width: 229px;
  color: #000;
  font-style: normal;
}

.contacts-item-link {
 color: #cc9933;
 transition: color .3s linear;
}

.contacts-item-link:hover {
  color: var(--link-user-mail_color-hover);
}

.contacts-item-link:focus {
  color: var(--link_color-hover-focus);
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.contacts-item-link:active {
  color: var(--link_color-acive);
  outline: none;
}

.contacts-item-descr {
  color: #999;
}

.contacts-item-schedule {
  max-width: 214px;
}

.adress-title {
  margin-right: 83px;
}

.tel-title {
  margin-right: 47px;
}

.mail-title {
  margin-right: 84px;
}

.schedule-title {
  margin-right: 74px;
}

.contacts-btn {
  max-width: 213px;
  padding: 27px 28px;
  margin-top: 45px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  transition-property: color, background-color;
  transition-duration: .3s , .2s;
  transition-timing-function: linear, ease;
}

.contacts-btn:hover {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
  font-weight: 400;
}

.contacts-btn:focus {
  background-color: var(--btn_bgcolor-focus-hover);
  color: var(--btn_color-focus-hover-active);
  outline: var(--btn_outline-focus);
  font-weight: 400;
}

.contacts-btn:active {
  background-color: var(--btn_bgcolor-active);
  color: var(--btn_color-focus-hover-active);
  font-weight: 400;
}

/* Footer */

.footer-container {
  max-width: 1170px;
  display: flex;
  margin-top: 19px;
  margin-bottom: 19px;
  padding: 44px 51px 46px 52px;
  border-radius: 15px;
  background-color: #333;
  color: var(--section_bgcolor);
  background-image: url(../img/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: 738px bottom;
}

.footer-content {
  display: flex;

}

.footer-left {
  margin-right: 102px;
}

.footer-text {
  max-width: 320px;
  font-size: 16px;
  line-height: 30.4px;
  font-weight: 400;
  color: var(--section_bgcolor);
}

.footer-left-link {
  display: inline-block;
  margin-top: 49px;
  font-size: 16px;
  line-height: 1.5;
  color: #cc9933;
  transition: color .3s linear;
}

.footer-left-link:hover {
  color: var(--link-user-mail_color-hover);
}

.footer-left-link:focus {
  color: var(--link_color-hover-focus);
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.footer-left-link:active {
  color: var(--link_color-acive);
  outline: none;
}

.footer-adress {
  font-size: 16px;
  line-height: 1;
  color: var(--section_bgcolor);
  font-style: normal;
}

.footer-middle {
  max-width: 358px;
}

.footer-middle-tel {
  display:flex;
  flex-direction: column;
  margin-top: 14px;
}

.footer-middle-mail {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.footer-middle-link {
  font-size: 16px;
  line-height: 1.5;
  color: #cc9933;
  transition: color .3s linear;
}

.footer-middle-link:hover {
  color: var(--link-user-mail_color-hover);
}

.footer-middle-link:focus {
  color: var(--link_color-hover-focus);
  outline: var(--link_outline-focus);
  outline-offset: 5px;
}

.footer-middle-link:active {
  color: var(--link_color-acive);
  outline: none;
}

.footer-right {
  margin-left: 260px;
}


.footer-right-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-right-link {
  width: 25px;
  height: 25px;
  display: inline-block;

}

.footer-right-link path {
  transition: fill .3s linear;
}

/* --------social-icon------- */

.footer-right-link:hover path {
  fill: var(--btn_bgcolor-focus-hover);
}

.footer-right-link:focus path {
  fill: var(--btn_bgcolor-focus-hover);
}

.footer-right-link:focus {
  outline: none;
}

.footer-right-link:active path {
  fill: var(--btn_bgcolor-active);
}
